[submodule "tools/AnimationEditor"]
	path = tools/AnimationEditor
	url = git@github.com:benreid24/Animation-Editor-2.git
[submodule "lib/BLIB"]
	path = lib/BLIB
	url = git@github.com:benreid24/BLIB.git
