*.psc linguist-language=LegacyPeoplemonScript
*.bsc linguist-language=bScript
Resources/Maps/Maps/WorldMap.map filter=lfs diff=lfs merge=lfs -text
OldResourcesConverted/Maps/Maps/WorldMap.map filter=lfs diff=lfs merge=lfs -text
